* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.0001);
}

.wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 25.5px;
}

.header-navigation {
    text-align: center;
}

.header-navigation li {
    display: inline;
}

.header-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin: 0 72px;
    cursor: pointer;
}

.intro-image {
    margin-bottom: 29px;
    height: 789px;
}

.heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 38px;
}

.main-page {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    color: #373737;
}

.page-text {
    margin-bottom: 28px;
}

.button-link {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    margin: 66px 544.5px 0;
    cursor: pointer;
    
}

.text-button {
    position: absolute;
    padding: 18px 43.5px 17px 42.5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.outro {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 82px 105px 29px 713px;
}